<header>
  <div class="max-w-[34rem] ml-auto pl-16 pr-8 py-20">
    <h1 class="font-semibold text-5xl">
      Alessandra Mincia
    </h1>
    <p class="font-medium mt-2 text-2xl text-zinc-200">
      Software Developer
    </p>
    <p class="mt-4 text-zinc-400">
      Me dedico al desarrollo, y ocasionalmente al diseño, de <span class="text-white">aplicaciones web</span>
      principalmente del lado backend con <span class="text-white">Spring Boot</span>
      y aprendiendo del lado frontend con <span class="text-white">Angular</span>.
    </p>
    <nav class="mt-12">
      <ul class="font-medium text-sm text-zinc-400">
        <li class="py-2.5">
          <a class="flex group items-center">
            <span class="bg-zinc-500 group-focus-visible:bg-zinc-200 group-focus-visible:w-16 group-hover:bg-zinc-200 group-hover:w-16 h-0.5 inline-block mr-4 transition-all w-8"></span>
            <span class="group-focus-visible:text-white group-hover:text-white">ACERCA DE MÍ</span>
          </a>
        </li>
        <li class="py-2.5">
          <a class="flex group items-center">
            <span class="bg-zinc-500 group-focus-visible:bg-zinc-200 group-focus-visible:w-16 group-hover:bg-zinc-200 group-hover:w-16 h-0.5 inline-block mr-4 transition-all w-8"></span>
            <span class="group-focus-visible:text-white group-hover:text-white">EXPERIENCIA</span>
          </a>
        </li>
        <li class="py-2.5">
          <a class="flex group items-center">
            <span class="bg-zinc-500 group-focus-visible:bg-zinc-200 group-focus-visible:w-16 group-hover:bg-zinc-200 group-hover:w-16 h-0.5 inline-block mr-4 transition-all w-8"></span>
            <span class="group-focus-visible:text-white group-hover:text-white">PROYECTOS</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="fixed flex inset-0 items-center ml-[41%] text-secondary-800">
    <svg
      class="h-full"
      fill="currentColor"
      viewBox="0 0 184 1223"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M183 1L22.1014 610.181L183 1222H1V1H183Z" fill="currentColor" stroke="currentColor"/>
    </svg>
  </div>
</header>
