$sign-draw-duration: 6s;
$sign-draw-delay: .25s;
$part-ani-duration: .5s;
$ear-show-delay: 1.25s;
$ear-move-delay: 1.875s;
$face-show-delay: 2s;

.sign path {
  animation: draw $sign-draw-duration linear $sign-draw-delay forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.ear {
  opacity: 0;
}
.ear-left {
  animation: show $part-ani-duration linear $ear-show-delay forwards, move-left $part-ani-duration linear $ear-move-delay forwards;
  margin-left: 1.25rem;
}
.ear-right {
  animation: show $part-ani-duration linear $ear-show-delay forwards, move-right $part-ani-duration linear $ear-move-delay forwards;
  margin-right: 1.25rem;
}
.face {
  animation: show $part-ani-duration linear $face-show-delay forwards;
  opacity: 0;
  position: fixed;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes move-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(-.6rem, -2rem) rotate(10deg);
  }
}
@keyframes move-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(.6rem, -2rem) rotate(-10deg);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}