<section class="py-32">
  <h2 class="font-medium font-mono pb-1 text-lg text-primary-600">
    Experiencia laboral
  </h2>
  <h3 class="font-semibold pb-8 text-2xl">
    ¿DÓNDE ME DESARROLLÉ?
  </h3>
  <div class="text-sm text-zinc-400">
    <div class="gap-x-5 grid grid-cols-[2fr_6fr] mb-5">
      <div class="pt-1.5">
        <p>
          Jul. 2022 - Actualidad
        </p>
        <p class="pt-1 text-zinc-200">
          {{ exp2.years }} años y {{ exp2.months }} meses
        </p>
      </div>
      <div>
        <h6 class="mb-0.5 text-lg font-medium text-white">
          Ingeniero de Software I
        </h6>
        <a class="text-base text-primary-600" href="https://novatronic.com" target="_blank" rel="noreferrer noopener">
          Novatronic
        </a>
        <ul class="mt-3">
          <li class="mb-2 pl-5 relative">
            Participé en el desarrollo y documentación de un <span class="text-zinc-200">sistema web</span> completo
            destinado como un módulo administrativo de operaciones financieras
            utilizando <span class="text-zinc-200">Spring Boot</span> y <span class="text-zinc-200">Angular</span>.
          </li>
          <li class="mb-2 pl-5 relative">
            Desarrollé y ejecute <span class="text-zinc-200">pruebas automatizadas E2E</span> utilizando
            <span class="text-zinc-200">Cypress</span> para diversas aplicaciones web basadas en
            <span class="text-zinc-200">Angular</span>.
          </li>
          <li class="mb-2 pl-5 relative">
            Contribuí en el desarrollo y certificación de <span class="text-zinc-200">aplicaciones móviles</span>
            utilizando <span class="text-zinc-200">Android Studio</span>, diseñadas para consumir diversos
            <span class="text-zinc-200">servicios REST y SOAP</span>.
          </li>
          <li class="mb-2 pl-5 relative">
            Realicé la evaluación y refactorización de código de proyectos desarrollados con <span class="text-zinc-200">
            Spring Boot</span> y <span class="text-zinc-200">Angular</span> para asegurar el cumplimiento de métricas de
            <span class="text-zinc-200">SonarQube</span> y <span class="text-zinc-200">Owasp Top 10</span>.
          </li>
          <li class="mb-2 pl-5 relative">
            Investigué y elaboré tableros de control con <span class="text-zinc-200">Grafana</span> para el 
            <span class="text-zinc-200">monitoreo</span> de algunos productos de la empresa.
          </li>
        </ul>
      </div>
    </div>
    <div class="gap-x-5 grid grid-cols-[2fr_6fr]">
      <div class="pt-1.5">
        <p>
          Dic. 2021 - Jun. 2022
        </p>
        <p class="pt-1 text-zinc-200">
          {{ exp1.months }} meses
        </p>
      </div>
      <div>
        <h6 class="mb-0.5 text-lg font-medium text-white">
          Practicante Ingeniero de Software
        </h6>
        <a class="text-base text-primary-600" href="https://novatronic.com" target="_blank" rel="noreferrer noopener">
          Novatronic
        </a>
        <ul class="mt-3">
          <li class="mb-2 pl-5 relative">
            Desarrollé nuevas funcionalidades para mejorar un módulo administrativo <span class="text-zinc-200">API Rest</span>
            desarrollado con <span class="text-zinc-200">Java</span>.
          </li>
          <li class="mb-2 pl-5 relative">
            Contribuí en el diseño, desarrollo y certificación de <span class="text-zinc-200">aplicaciones móviles</span> en
            <span class="text-zinc-200">Android Studio</span> para autorizar transacciones financieras mediante validación biométrica.
          </li>
          <li class="mb-2 pl-5 relative">
            Participé en la revisión y desarrollo de <span class="text-zinc-200">pruebas E2E</span> utilizando
            <span class="text-zinc-200">Cypress</span> para un sistema web basado en <span class="text-zinc-200">Angular</span>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
