<section class="py-32">
  <h2 class="font-medium font-mono pb-1 text-lg text-primary-600">
    Experiencia laboral
  </h2>
  <h3 class="font-semibold pb-8 text-2xl">
    ¿DÓNDE ME DESARROLLÉ?
  </h3>
  <div class="text-sm text-zinc-400">
    <div class="gap-x-5 grid grid-cols-[2fr_6fr] mb-5">
      <p class="pt-1.5">
        Julio 2022 - Actualidad
      </p>
      <div>
        <h6 class="mb-0.5 text-lg font-medium text-white">
          Ingeniero de Software I
        </h6>
        <a class="text-base text-primary-600" href="https://novatronic.com" target="_blank" rel="noreferrer noopener">
          Novatronic
        </a>
        <ul class="mt-3">
          <li class="mb-2 pl-5 relative">
            Participación en el desarrollo y documentación de APIs Rest con Spring Boot y aplicaciones
            web con Angular para módulos administrativos y de verificación biométrica.
          </li>
          <li class="mb-2 pl-5 relative">
            Contribución en el desarrollo y certificación de aplicaciones móviles con Android Studio
            para el consumo de servicios REST y SOAP, y publicación de aplicaciones móviles en PlayStore.
          </li>
          <li class="mb-2 pl-5 relative">
            Desarrollo de pruebas automatizadas E2E para aplicaciones web en Angular con Cypress.
          </li>
          <li class="mb-2 pl-5 relative">
            Evaluación y refactorización de código de aplicaciones web en Angular y APIs Rest con
            Spring Boot para el cumplimiento de métricas de SonarQube y Owasp Top 10.
          </li>
          <li class="mb-2 pl-5 relative">
            Investigación de herramientas de monitoreo para productos de la empresa como Grafana.
          </li>
        </ul>
      </div>
    </div>
    <div class="gap-x-5 grid grid-cols-[2fr_6fr]">
      <p class="pt-1.5">
        Diciembre 2021 - Junio 2022
      </p>
      <div>
        <h6 class="mb-0.5 text-lg font-medium text-white">
          Practicante Ingeniero de Software
        </h6>
        <a class="text-base text-primary-600" href="https://novatronic.com" target="_blank" rel="noreferrer noopener">
          Novatronic
        </a>
        <ul class="mt-3">
          <li class="mb-2 pl-5 relative">
            Revisión y desarrollo de funcionalidades para API Rest de módulo administrativo con Java.
          </li>
          <li class="mb-2 pl-5 relative">
            Contribución en el diseño, desarrollo y certificación de aplicaciones móviles con Java en
            Android Studio para transacciones financieras mediante validación de identidad biométrica.
          </li>
          <li class="mb-2 pl-5 relative">
            Participación en el desarrollo y revisión de pruebas E2E para un sistema web en Angular
            con Cypress.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
