:root {
	--color-primary: #9864e5;
	--color-secondary: #63519d;
	--color-auxiliar: rgba(250,250,250,0.25);
	--back-primary: #1E1B32;
	--back-secondary: #2e2b48;
	--gray: #bcbcbc;
	--white: #fff;
	--black: #222;
}

@media only screen and (max-width: 1440px) {
	.welcome-first {
		font-size: 17px;
	}
	.welcome-title {
		font-size: 48px;
	}
	.welcome-title:before {
		margin: 20px auto 5px;
	}
	.welcome-subtitle {
		margin-bottom: 20px;
		font-size: 24px;
	}
	.welcome-box p {
		margin-bottom: 20px;
	}
	.navbar-nav li a {
		font-size: 15px;
	}
	.subscribe-row h5 {
		font-size: 18px;
	}
	.wide-col-laptop {
		flex: 0 0 85%;
		-ms-flex: 0 0 85%;
		max-width: 85%;
	}
	.education-box {
		padding: 25px 20px;
	}
	.education-box h3 {
		font-size: 15px;
	}
	.education-box h4 {
		font-size: 23px;
	}
	.education-box h5 {
		font-size: 13px;
	}
	.education-box h6 {
		font-size: 11px;
	}
	h1, h2 {
		margin-bottom: 10px;
		font-size: 56px;
		line-height: 1.05;
	}
	.title-block {
		margin-bottom: 25px;
	}
	.title-block p {
		line-height: 1.6;
	}
	.education-icon {
		font-size: 24px;
	}
	.experience-content {
		font-size: 18px;
	}
	.owl-carousel .owl-item .client-img img {
		max-width: 80px;
	}
	.gallery-section {
		padding-top: 10px;
	}
	.about-img {
		margin-right: 15px;
	}
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 15%;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 18%;
	}
}
@media only screen and (max-width: 1199px) {
	#fp-nav.fp-right {
		right: 5px;
	}
	.welcome-title:before {
		margin: 20px auto 5px;
	}
	.wide-col-laptop {
		flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		max-width: 100%;
	}
	.about-img {
		margin-right: 0;
	}
	.welcome-title {
		font-size: 45px;
	}
	.welcome-title:after {
		margin-top: 15px;
	}
	.welcome-subtitle {
		font-size: 22px;
	}
	.welcome-box {
		font-size: 18px;
	}
	h1, h2 {
		font-size: 48px;
	}
	.counter-box {
		font-size: 13px;
	}
	.counter-box span {
		margin-bottom: 5px;
	}
	.owl-nav {
		margin-top: 35px;
	}
	.experience-content {
		padding: 20px 25px;
		font-size: 16px;
	}
	.experience-section {
		padding-top: 10px;
	}
	.owl-carousel .owl-dots {
		margin-top: 35px;
	}
	.menu-trigger {
		margin: 0;
	}
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 14%;
	}
	.portfolio-item .thumb-inner p {
		font-size: 14px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 16%;
	}
	.portfolio-btns .btn {
		padding: 0 25px;
	}
}
@media only screen and (max-width: 991px) {
	.welcome-box {
		padding: 150px 0px;
	}
	.navbar-nav li a {
		font-size: 13px;
	}
	.footer-right {
		font-size: 13px;
	}
	.owl-nav > button {
		width: 40px;
		height: 40px;
	}
	.owl-nav > button:after {
		top: 13px;
		left: 17px;
		width: 12px;
		height: 12px;
	}
	.owl-nav > button.owl-next:after {
		left: 11px;
	}
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 12%;
	}
	.portfolio-item .thumb-inner p {
		font-size: 13.5px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 10%;
	}
	.portfolio-btns .btn {
		padding: 0 15px;
		font-size: 11px;
	}
	.contact-box h4 {
		font-size: 20px;
	}
	.contact-row {
		margin-bottom: 15px;
		padding: 10px 15px !important;
		font-size: 13px;
	}
	#ajax-contact {
		margin-top: 20px;
	}
	#ajax-contact input {
		margin-bottom: 20px;
	}
	.contact-row i {
		width: 45px;
		font-size: 25px;
	}
	.contact-row i.fa-envelope {
		font-size: 20px;
	}
	.container-fluid {
		padding: 0 12px;
	}
	.skills-ul {
		top: 0;
	}
	.contact-row {
		padding: 42px 45px;
	}
}
@media only screen and (max-width: 925px) {
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 8%;
		margin-bottom: 6px;
		font-size: 14px;
	}
	.portfolio-item .thumb-inner p {
		font-size: 12px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 8%;
	}
	.portfolio-btns .btn {
		padding: 0 12px;
		font-size: 10px;
		line-height: 30px;
	}
}
@media only screen and (max-width: 840px) {
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 3%;
		margin-bottom: 5px;
		font-size: 13px;
	}
	.portfolio-item .thumb-inner p {
		font-size: 11px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 3%;
	}
	.portfolio-btns .btn {
		padding: 0 8px;
		font-size: 9px;
		line-height: 24px;
	}
}
@media only screen and (min-width: 768px) {
	.nav-box {
		display: block !important;
		height: auto !important;
	}
}
@media only screen and (max-width: 767px) {
	video {
		right: -500px;
	}
	#header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		width: 100%;
		padding: 0;
		background-color: var(--back-primary);
		z-index: 6666;
	}
	#navigation button i {
		color: var(--white);
	}
	.welcome-box {
		padding: 150px 0px;
	}
	a#logo-mobile {
		display: block;
		color: var(--white);
	}
	.navbar {
		padding: 15px 0;
		justify-content: space-between;
	}
	.navbar-toggle {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		margin: 0;
		padding: 0;
		color: var(--white);
		font-size: 28px;
		background: none;
		border: 0;
		outline: none;
		box-shadow: none;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		cursor: pointer;
	}
	.navbar-toggle:focus {
		outline: none;
	}
	#header .profile img {
		margin: 25px auto 10px;
		border: 8px solid var(--back-primary);
	}
	a#logo-desktop {
		display: none;
	}
	#header .profile .social-links a {
		background: var(--back-primary);
	}
	.navbar-nav {
		display: block;
		margin: 0;
		padding: 20px 0;
		overflow-y: auto;
	}
	.collapse:not(.show) {
		display: none;
	}
	.navigation-menu > li {
		display: block;
		margin: 0;
		font-size: 15px;
		text-align: center;
	}
	.navigation-menu > li > a {
		padding: 15px;
		line-height: 1.2;
	}
	.navbar-nav li a:after {
		display: none;
	}
	.nav-box {
		display: none;
		position: absolute;
		top: 100%;
		left: -15px;
		right: -15px;
		text-align: left;
		background: var(--back-secondary);
		border: 0;
		box-shadow: none;
	}
	.footer {
		padding: 15px 0 20px;
	}
	.footer .copyright strong {
		font-size: 15px;
	}
	#fullpage {
		margin-left: 0px;
	}
	.welcome-first {
		font-size: 15px;
	}
	.welcome-title {
		font-size: 35px;
	}
	.welcome-title:before {
		margin: 20px auto 5px;
	}
	.welcome-subtitle {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.welcome-box {
		font-size: inherit;
	}
	.welcome-box .btn {
		margin-top: 0;
	}
	.about-img {
		margin-bottom: 10px;
	}
	h1, h2 {
		font-size: 36px;
	}
	h4 {
		font-size: 18px;
	}
	body {
		font-size: 15px;
	}
	.about-contentbox {
		margin-top: 60px;
		text-align: center;
	}
	.about-contentbox p {
		margin-bottom: 5px;
	}
	.facts-list {
		margin-top: 0;
	}
	.experience-section {
		padding-top: 0;
	}
	.experience-content {
		padding: 20px 0 0;
	}
	.experience-section .item h4 {
		font-size: 20px;
	}
	.experience-section .item h5 {
		font-size: 14px;
	}
	.experience-section .item p {
		font-size: 14px;
	  }
	.contact-box {
		height: auto;
		margin-top: 30px;
	}
	.footer-right {
		width: 100%;
		margin: 15px 0 0;
		text-align: left;
	}
	.btn {
		padding: 0 30px;
		font-size: 15px;
		line-height: 48px;
	}
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 8%;
		margin-bottom: 10px;
		font-size: 15px;
	}
	.portfolio-item .thumb-inner p {
		font-size: 13px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 8%;
	}
	.portfolio-btns .btn {
		padding: 0 12px;
		font-size: 11px;
		line-height: 30px;
	}
	.contact-row {
		margin-top: 15px;
	}
	.content-section {
		padding: 50px 0;
	}
	.info-inner {
		margin-top: 20px;
		padding-bottom: 15px;
	}
	.index-white .navbar-toggle {
		color: #242424;
	}
	.side-menu .nav-box > ul {
		padding: 70px 40px 40px;
	}
	.side-menu .navbar-nav li a {
		font-size: 20px;
	}
	.detail-page h1 {
		margin-bottom: 50px;
	}
	.project-detail-col figure {
		margin-top: 35px;
	}
	.project-buttons-margin {
		margin-top: 50px;
	}
}
@media only screen and (max-width: 630px) {
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 5%;
		margin-bottom: 8px;
		font-size: 14px;
	}
	.portfolio-item .thumb-inner p {
		font-size: 12px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 6%;
	}
	.portfolio-btns .btn {
		padding: 0 9px;
		font-size: 10px;
		line-height: 26px;
	}
}
@media only screen and (max-width: 575px) {
	.welcome-first {
		margin-bottom: 5px;
		font-size: 13px;
	}
	.welcome-title {
		font-size: 32px;
	}
	.welcome-title:before,.welcome-title:after {
		width: 100%;
	}
	.welcome-subtitle {
		font-size: 16px;
	}
	h1, h2 {
		font-size: 30px;
	}
	.about-contentbox {
		line-height: 1.6;
	}
	.owl-carousel .owl-item .client-img img {
		max-width: 65px;
		margin-right: 10px;
	}
	.experience-section {
		font-size: 13px;
	}
	.form-control {
		height: 52px;
		padding: 4px 15px;
		font-size: 14px;
	}
	.skill-item {
		margin-bottom: 20px;
		padding-bottom: 30px;
	}
	.last-skill {
		padding-bottom: 15px;
		margin-bottom: 10px;
	}
	.skill-info {
		width: auto;
		margin-left: 40px;
		margin-bottom: 40px;
		flex-direction: row;
		justify-content: flex-start;
	}
	.skill-info-block {
		width: fit-content;
		flex-direction: row;
	}
	.skill-info-block h6 {
	  	margin-bottom: 0px;
	}
	.skill-info-block img {
		height: 25px;
		width: 25px;
		margin-left: 10px;
	  }
	.skill-bar {
		position: relative;
		width: 100%;
		height: 6px;
		background-color: rgba(250,250,250,0.25);
		border-radius: 3px;
	}
	.input-field {
		margin-bottom: 15px;
	}
	.subscribe-row h5 {
		font-size: 16px;
	}
	.business-row {
		padding-left: 40px;
	}
	.experience-content:before {
		left: 46%;
	}
	.business-row {
		padding-left: 0;
	}
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 10%;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.portfolio-item .thumb-inner p {
		font-size: 15px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 10%;
	}
	.portfolio-btns .btn {
		padding: 0 15px;
		font-size: 13px;
		line-height: 40px;
	}
}
@media only screen and (max-width: 460px) {
	h4 {
		font-size: 14px;
	}
	.experience-content:before {
		left: 45%;
	}
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 8%;
		margin-bottom: 15px;
		font-size: 14px;
	}
	.portfolio-item .thumb-inner p {
		font-size: 13px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 8%;
	}
	.portfolio-btns .btn {
		padding: 0 12px;
		font-size: 11px;
		line-height: 30px;
	}
}
@media only screen and (max-width: 340px) {
	.portfolio-item:hover .thumb-inner h4 {
		margin-top: 3%;
		margin-bottom: 5px;
		font-size: 13px;
	}
	.portfolio-item .thumb-inner p {
		font-size: 11px;
	}
	.portfolio-item:hover .portfolio-btns {
		margin-top: 5%;
	}
	.portfolio-btns .btn {
		padding: 0 8px;
		font-size: 9px;
		line-height: 24px;
	}
}
@media only screen and (max-width: 320px) {
	.gallery-overlay p {
		display: none;
	}
	.experience-content:before {
		left: 43%;
	}
}
@media only screen and (max-width: 300px) {
	.portfolio-item .thumb-inner {
		height: 35px;
		padding: 10px 20px;
	}
	.portfolio-item .thumb-inner h4 {
		font-size: 12px;
	}
	.portfolio-item:hover .thumb-inner h4 {
		position: absolute;
		visibility: hidden;
	}
	.portfolio-item:hover .thumb-inner p {
		position: absolute;
		visibility: hidden;
	}
	.portfolio-item:hover .portfolio-btns {
		flex-direction: column;
	}
	.portfolio-btns .btn {
		margin-top: 25%;
		font-size: 8px;
	}
}
